.form-check {
  &:focus-within {
    .form-check-label {
      background-color: $focus;
      box-shadow: 0 0 $focus, 0 2px $focus-contrast;
      color: $focus-contrast;
      text-decoration-color: $focus-contrast;
      outline: none;

    }

    .form-check-input {
      background-color: $focus;
      border-color: $focus-contrast;
    }
  }
}